* {
   padding: 0;
   margin: 0;
}

h1 {
font-family: 'Roboto', sans-serif;
font-weight: 900;
}

h2{
   font-family: 'Cabin', sans-serif;
}

p, button, label{
   font-family: 'Poppins', sans-serif;
   font-size: larger;
   /* font-weight:100 */
}

